
@{
    ViewData["Title"] = "New Ispark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="kt_leaflet_3" style="height:450px;"></div>

@section Styles{
    <link href="~/css/leaflet.bundle.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/leaflet.bundle.js"></script>
    <script src="~/js/leaflet.js"></script>


    <script>


    </script>
}